/m4
/aclocal.m4
/autom4te.cache
/build-aux
/configure
/config.h.in
/config.h
/config.log
/config.status
/configure.scan
/libtool
/stamp-h1
.deps/
.libs/
efikit-*/
dist-efikit/
Makefile.in
Makefile
*.o
*.lo
*.la
*.log
*.trs
*.pc
*.tar.gz
*.dll
*.exe
.dirstamp
